export VITE_HANKO_API_URL=https://8bf033a6-ec4f-4c0d-b037-ce9b6c589c73.hanko.io
export VITE_HOST=lex-bot.streamlit.app
export VITE_PORT=8443
export VITE_SSL_KEY=.certs/localhost+3-key.pem
export VITE_SSL_CERT=.certs/localhost+3.pem
